@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@400;700;900&display=swap');

body {
    background-color: #EDEFF1;
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: black;
}

.navbarBrand {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
    width: 50px; /* Adjust the width if necessary */
    vertical-align: middle;
}

.brandName {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    color: #7543EE;
}

.navbarLinks {
    display: flex;
    gap: 1rem;
}

.navbarLinks a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbarLinks a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    /* Any styles for the main content can go here */
}
